<div style="padding: 10px;">
    <input [(ngModel)]="newHero.id" type="number">
    <input [(ngModel)]="newHero.name" type="text">
    <input [(ngModel)]="newHero.age" type="number">
    <button (click)="Add()">Add</button>
</div>

<div *ngFor="let item of heros">
    <p>
        {{item.id}}
    </p>
    <p>
        {{item.name}}
    </p>
    <p>
        {{item.age}}
    </p>
</div>