<form>
    <div class="form-group">
        <label>Наименование товата</label>
        <input [(ngModel)]="product.name" name="name" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Цена</label>
        <input [(ngModel)]="product.price" name="price" type="number" class="form-control">
    </div>
    <div class="form-group">
        <label>Описание</label>
        <input [(ngModel)]="product.description" name="description" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Фотография</label>
        <input [(ngModel)]="product.image" name="image" type="text" class="form-control">
    </div>
    <button (click)="create()" class="btn btn-success">Сохранить</button>
</form>