<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['products']" routerLinkActive="active">Продукты</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['about']" routerLinkActive="active">О нас</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>