<div *ngIf="addVisible" class="Box">
    <div class="createForm">
        <app-add-product [product]="product" (createEmit)="createProduct($event)"></app-add-product>
    </div>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        <button (click)="add()" class="btn btn-success mb-3">Добавить продукт</button>
        <div class="row">
            <div *ngFor="let product of products" class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img [src]="product.image" class="bd-placeholder-img card-img-top" width="100%" height="225" />
                    <div class="card-body">
                        <p class="card-text">{{product.name}}
                            <span style="color: green;">{{product.description}}</span>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">{{product.price}} RUB</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>